body {
    background-color: aquamarine;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5cm;   
}

#on {
    background-color: blueviolet;

}

#off {
    background-color: darkmagenta;
}